.cache/
.ruff_cache/
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.synctex*busy*
*.synctex.gz
*.toc
.~lock*
__pycache__/
_minted-*
target/
/.venv
feedback.pdf
build/
stuff/
.vscode/
*.protected.pdf
